@font-face {
font-family: "Berlin Sans FB Regular";
src: url("Source/BRLNSR.TTF");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Berlin Sans FB Regular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    box-shadow: 0px 0px 10px 8px rgb(80, 80, 80) !important;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom,red 0vh 13vh,white 13vh 87vh, red 87vh 100vh);
}

main {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme-container {
  position: relative;
  width: auto;
  height: 74vh;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  border-right: 3px solid black;
}

.aboutme-container::after {
  content: "";
  background-image: url(/Source/number.png);
  background-size: cover;
  overflow: hidden;
  opacity: 0.4; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.aboutme-content {
  padding: 2%;
  max-width: 80vw;
}

.background-container {
  flex-shrink: 10;
  width: 40vh;
  height: 74vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}

.background-container p {
  display: block;
}

.background-container img{
  height: auto;
  width: 100%;
  border: 3px solid darkblue;
}

.flex-slide{
  position: relative;
  overflow: hidden;
  flex: 1 1 1
  cursor: pointer;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 5px solid  rgb(247,185,48);
  background-color: black;
  transition: all 1s ease-in-out
}

.flex-slide:hover {
  background-color: rgb(250, 247, 75);
  flex-grow: 5;
  
}

.flex-title {
  width: 100px;

  color: #f1f1f1;
	position: relative;
	font-size: 3em;
	margin: 0;
	text-align: center;
	transform: rotate(270deg);
  white-space: nowrap;
}

.flex-slide:hover .flex-title{
  transform: rotate(0deg);
  font-size: 2em;
  width: 40vw;
  color: black;
}

.flex-about form {
  display: none;
  position: absolute;
  bottom: 0;
  opacity: 0;
  width: 96%;
  border: 3px solid black;
  padding: 5% 2% 5% 2%;
  margin: 4% 2% 0 2%;
  display: flex;
  flex-direction: column;
}

.flex-about form > * {
  font-size: 1.5em;
  margin: 1%;
  color: black;
}
.flex-about form label {
  width: 30%;
  display: inline-block;
}

.flex-about form textarea {
  width: 61.5%;
  display: inline-block;
  margin-left: 1%;
  height: 200px;
  border: 2px solid black;
  padding: 3px;
  font-size: 0.8em;
}

.flex-about form input {
  width: 62%;
  display: inline-block;
  border: 2px solid black;
  padding: 3px;
  font-size: 0.8em;
  
}

#msgbox {
  display: flex;
}

button {
  width: 100px;
  font-size: 20px !important;
  margin: 2% auto !important;
  border: 2px solid black;
  background-color: blanchedalmond;
}

.flex-slide:hover .flex-about form {
  opacity: 1;
  position: static;
}
