@font-face {
font-family: "Berlin Sans FB Regular";
src: url("Source/BRLNSR.TTF");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Berlin Sans FB Regular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    box-shadow: 0px 0px 10px 8px rgb(80, 80, 80) !important;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom,black 0vh 13vh,white 13vh 87vh, black 87vh 100vh);
}

main {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme-container {
  position: relative;
  width: auto;
  height: 74vh;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  border-right: 3px solid black;
  flex-shrink: 3;

}

.aboutme-container::after {
  content: "";
  background-image: url(/Source/number.png);
  background-size: cover;
  overflow: hidden;
  opacity: 0.2; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.aboutme-content {
  padding: 2%;
  max-width: 80vw;
}

#hello {
  display: inline-block;
  margin-bottom: 2%;
}

.aboutme-content p {
  margin-bottom: 2%;
  text-shadow: 0 0 10px white;
  font-size: 1.1em;
}

.aboutme-content span {

  font-size: 1.1em;
}

.others {
  margin: 0 !important;

}

.background-container {
  flex-shrink: 4;
  width: 40vh;
  height: 74vh;
  min-width: 15%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}
.imgalt {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2%;
}

.imgalt p {
  text-align: right;
}

.background-container img{
  height: auto;
  width: 100%;
  border: 3px solid darkblue;
}

.flex-slide{
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 5px solid  rgb(250 210 72);
  background-color: black;
}

.flex-slide:hover {
  background-color: rgb(250, 247, 75);
  transition: all 2s;
  min-width: 40vw;
  
}

.flex-title {
  width: 100px;
  color: #f1f1f1;
	position: relative;
	font-size: 3em;
	margin: 0;
	text-align: center;
	transform: rotate(270deg);
  white-space: nowrap;
  }

.flex-slide:hover .flex-title{
  transform: rotate(0deg);
  font-size: 2em;
  width: 40vw;
  color: black;
  transition: all 2s 

}
.flex-slide:hover .flex-about form {
  opacity: 1;
  position: static;
  transition: all 1.5s 1s
}
.flex-about form {
  display: none;
  position: absolute;
  bottom: 0;
  opacity: 0;
  width: 95%;
  border: 3px solid black;
  padding: 5% 2% 5% 2%;
  margin: 4% 2% 0 2%;
  display: flex;
  flex-direction: column;
}

.flex-about form > * {
  font-size: 1.5em;
  margin: 1%;
  color: black;
}

.flex-about form label {
  width: 30%;
  display: inline-block;
}

.flex-about form textarea {
  width: 61.5%;
  display: inline-block;
  margin-left: 1%;
  height: 200px;
  border: 2px solid black;
  padding: 3px;
  font-size: 0.8em;
}

.flex-about form input {
  width: 62%;
  display: inline-block;
  border: 2px solid black;
  padding: 3px;
  font-size: 0.8em;
  
}

#msgbox {
  display: flex;
}

button {
  width: 100px;
  font-size: 20px !important;
  margin: 2% auto !important;
  border: 2px solid black;
  background-color: blanchedalmond;
}

@media screen and (max-width: 1400px) {
.flex-about form > * {
  font-size: 1em;
  }
.flex-about form {
  padding: 5% 1% 5% 1%;
}
.flex-about form label {
  width: 20%;
  margin-right: 0;
}
flex-about form textarea {
  width: auto;
  margin-left: 0;
}
}

@media screen and (max-width: 1200px) {
body{
  flex-direction: column;
  height: 100vh;
}

main {
  flex-direction: column;
  width: 100vw;
  height: 90vh;
}
.background {
  position: fixed;
  width: 0vw;
  height: 0vh;
}
.aboutme-container {
  height: 100%;
  border-right: 0;
  flex-shrink: 4;
  border-bottom: 3px solid black;
  overflow: scroll;

}
.aboutme-content {
  padding: 3%;
  max-width: 100%;
}
.background-container{
flex-shrink: 5;
max-height: 20vh;
flex-direction: row;
justify-content: flex-end;
width: 100%;
padding: 1%;
}

.background-container img{
  height: 100%;
  width: auto;
  border: 2px solid darkblue;
}

.flex-slide {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  border-left: 0;
  border-top: 3px solid  rgb(250 210 72);
  width: 100vw;
}

.flex-slide:hover {
  height: 40vh;
}

.flex-title {
  transform: rotate(0deg);
  width: 100vw;
}
.flex-slide:hover .flex-title{
  transform: rotate(270deg);
  font-size: 2em;
  max-width: 10%;
  align-self: flex-end;
  margin-bottom: 3%;
  transition: all 1s 
}
.flex-about form {
  width: 85vw;
  height: 90%;
  border: 3px solid black;
  padding: 1% 2% 1% 2%;
  margin: 1% 2% 0 1%;
  justify-content: center;
}
button {
  margin: 1% auto !important;
}
.flex-about form textarea {
  height: 100px;

}
}